<form class="modal modal-large modal-scroll-body" novalidate name="checklistItemMrfEditCtrl.mrfEditForm">
  <div class="modal-header flex-row">
    <div class="flex-item-static">
        <button
            class="btn btn-link"
            type="button"
            data-ng-if="::!checklistItemMrfEditCtrl.isReview"
            data-ng-click="checklistItemMrfEditCtrl.cancel()">
                Cancel
        </button>
    </div>

      <span class="modal-title flex-item-grow"><span data-ng-if="::!checklistItemMrfEditCtrl.isReview">Edit</span> {{::checklistItemMrfEditCtrl.title}}</span>

      <div class="flex-item-static">
          <button
              class="btn pull-right"
              data-ng-if="::!checklistItemMrfEditCtrl.isReview"
              data-ng-click="checklistItemMrfEditCtrl.save()"
              data-ng-disabled="checklistItemMrfEditCtrl.mrfEditForm.$invalid"
              type="submit">

              Save
          </button>
          <button
              class="btn pull-right"
              data-ng-if="::checklistItemMrfEditCtrl.isReview"
              data-ng-click="checklistItemMrfEditCtrl.cancel()"
              type="button">

              Close
          </button>
      </div>
  </div>
  <div class="modal-body-wrapper">
    <div class="modal-body">
      <div class="clearfix">
        <div class="form-group col-xs-6">
          <mrf-edit-field-integer
              data-ng-if="::!checklistItemMrfEditCtrl.isReview"
              data-ng-model="checklistItemMrfEditCtrl.infiltrationValue"
              field="checklistItemMrfEditCtrl.infiltrationDisplayData"
              handle-change="checklistItemMrfEditCtrl.calculateInfiltrationValue()"
              unit="checklistItemMrfEditCtrl.infiltrationDisplayData.Unit"
              value="checklistItemMrfEditCtrl.infiltrationValue">
          </mrf-edit-field-integer>

          <mrf-edit-field-locked
            data-ng-if="::checklistItemMrfEditCtrl.isReview"
            field="checklistItemMrfEditCtrl.mrfDigest[0]"
            value="checklistItemMrfEditCtrl.editMrfData['SinglePointFlow']">
          </mrf-edit-field-locked>
        </div>
      </div>
      <div class="clearfix">
        <div class="form-group col-xs-6 form-group-horizontal">
            <input
                class="form-control"
                disabled="disabled"
                data-ng-model="checklistItemMrfEditCtrl.ACH50"
                id="ACH50"
                name="ACH50"
                type="number" /> <abbr class="input-unit" title="air changes per hour at 50 Pascals of pressure">ACH50</span>
        </div>
      </div>
      <div class="clearfix">
          <div class="form-group col-xs-6">
            <mrf-edit-field-string
                data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                data-ng-model="checklistItemMrfEditCtrl.editMrfData['TestDate']"
                field="checklistItemMrfEditCtrl.mrfDigest[2]"
                value="checklistItemMrfEditCtrl.editMrfData['TestDate']"
                date="true">
            </mrf-edit-field-string>

              <mrf-edit-field-locked
                  data-ng-if="::checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[2]"
                  value="checklistItemMrfEditCtrl.editMrfData['TestDate']">
              </mrf-edit-field-locked>
          </div>
          <div class="form-group col-xs-6">
            <mrf-edit-field-integer
                data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                data-ng-model="checklistItemMrfEditCtrl.editMrfData['SinglePointPressure']"
                field="checklistItemMrfEditCtrl.mrfDigest[3]"
                value="checklistItemMrfEditCtrl.editMrfData['SinglePointPressure']">
            </mrf-edit-field-integer>

              <mrf-edit-field-locked
                  data-ng-if="::checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[3]"
                  value="checklistItemMrfEditCtrl.editMrfData['SinglePointPressure']">
              </mrf-edit-field-locked>
          </div>
          <div class="form-group col-xs-6">
              <mrf-edit-field-decimal
                  data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[4]"
                  ng-model="checklistItemMrfEditCtrl.mrfEditForm['SiteAmbientTemp']"
                  value="checklistItemMrfEditCtrl.editMrfData['SiteAmbientTemp']">
              </mrf-edit-field-decimal>

              <mrf-edit-field-locked
                  data-ng-if="::checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[4]"
                  value="checklistItemMrfEditCtrl.editMrfData['SiteAmbientTemp']">
              </mrf-edit-field-locked>
          </div>
          <div class="form-group col-xs-6">
              <mrf-edit-field-decimal
                  data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[5]"
                  ng-model="checklistItemMrfEditCtrl.mrfEditForm['IndoorTemp']"
                  value="checklistItemMrfEditCtrl.editMrfData['IndoorTemp']">
              </mrf-edit-field-decimal>

              <mrf-edit-field-locked
                  data-ng-if="::checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[5]"
                  value="checklistItemMrfEditCtrl.editMrfData['IndoorTemp']">
              </mrf-edit-field-locked>
          </div>
          <div class="form-group col-xs-6">
              <mrf-edit-field-decimal
                  data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[6]"
                  ng-model="checklistItemMrfEditCtrl.mrfEditForm['SiteElevation']"
                  value="checklistItemMrfEditCtrl.editMrfData['SiteElevation']">
              </mrf-edit-field-decimal>

              <mrf-edit-field-locked
                  data-ng-if="::checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[6]"
                  value="checklistItemMrfEditCtrl.editMrfData['SiteElevation']">
              </mrf-edit-field-locked>
          </div>
          <div class="form-group col-xs-6">
              <mrf-edit-field-decimal
                  data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[7]"
                  ng-model="checklistItemMrfEditCtrl.mrfEditForm['BasePressure']"
                  value="checklistItemMrfEditCtrl.editMrfData['BasePressure']">
              </mrf-edit-field-decimal>

              <mrf-edit-field-locked
                  data-ng-if="::checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[7]"
                  value="checklistItemMrfEditCtrl.editMrfData['BasePressure']">
              </mrf-edit-field-locked>
          </div>
          <div class="form-group col-xs-6">
              <mrf-edit-field-string
                  data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[8]"
                  ng-model="checklistItemMrfEditCtrl.mrfEditForm['PressureDepressure']"
                  value="checklistItemMrfEditCtrl.editMrfData['PressureDepressure']">
              </mrf-edit-field-string>

              <mrf-edit-field-locked
                  data-ng-if="::checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[8]"
                  value="checklistItemMrfEditCtrl.editMrfData['PressureDepressure']">
              </mrf-edit-field-locked>
          </div>
          <div class="form-group col-xs-6">
              <mrf-edit-field-decimal
                  data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[9]"
                  ng-model="checklistItemMrfEditCtrl.mrfEditForm['BuildingPressure']"
                  value="checklistItemMrfEditCtrl.editMrfData['BuildingPressure']">
              </mrf-edit-field-decimal>

              <mrf-edit-field-locked
                  data-ng-if="::checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[9]"
                  value="checklistItemMrfEditCtrl.editMrfData['BuildingPressure']">
              </mrf-edit-field-locked>
          </div>
          <div class="form-group col-xs-6">
              <mrf-edit-field-decimal
                  data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[10]"
                  ng-model="checklistItemMrfEditCtrl.mrfEditForm['AltitudeTempAdjustment']"
                  value="checklistItemMrfEditCtrl.editMrfData['AltitudeTempAdjustment']">
              </mrf-edit-field-decimal>

              <mrf-edit-field-locked
                  data-ng-if="::checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[10]"
                  value="checklistItemMrfEditCtrl.editMrfData['AltitudeTempAdjustment']">
              </mrf-edit-field-locked>
          </div>
          <div class="form-group col-xs-6">
              <mrf-edit-field-string
                  data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[11]"
                  ng-model="checklistItemMrfEditCtrl.mrfEditForm['TenPercentSinglePointPenalty']"
                  value="checklistItemMrfEditCtrl.editMrfData['TenPercentSinglePointPenalty']">
              </mrf-edit-field-string>

              <mrf-edit-field-locked
                  data-ng-if="::checklistItemMrfEditCtrl.isReview"
                  field="checklistItemMrfEditCtrl.mrfDigest[11]"
                  value="checklistItemMrfEditCtrl.editMrfData['TenPercentSinglePointPenalty']">
              </mrf-edit-field-locked>
          </div>
        </div>
    </div>
  </div>
</form>
