@import '../../../../../../scss/variables';

.house-elevation-photos {
    // background-color: $body-bg;
    // bottom: 0;
    // box-shadow: $shadow-default;
    // left: $gutter-quarter;
    // position: absolute;
    // right: $gutter-quarter;
    // top: $gutter-half;
    // transform: translateY(110%);
    // transition: transform $transition-fast ease-in-out;
    // z-index: 5;

    .house-elevation-photos-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 $gutter-half;
    }

    &.active {
        transform: translateY(0%);
    }

    .btn-close-house-elevation-photos {
        position: absolute;
        right: 0;
        top: 0;
    }

    .photo-capture {
        height: $photo-capture-large;
        width: $photo-capture-large;
    }
}

@media (max-width: $screen-mobile) {
    .house-elevation-photos {
        .house-elevation-photos-wrapper {
            flex-wrap: wrap;
            padding: 0;
        }

        .house-elevation-photos-section {
            margin-bottom: $gutter-half;
        }

        .photo-capture {
            width: calc(50vw - 30px);
            height: calc(50vw - 30px);
        }
    }
}
