<div class="form-group form-group-mrf-field"
    data-ng-class="{'has-error' : fieldStringCtrl.invalid}">

    <label for="{{::fieldStringCtrl.field.Key}}" class="control-label">
        <i class="fa fa-list-alt" aria-hidden="true" data-ng-if="::fieldStringCtrl.field.IsLibraryAttribute"></i>
        {{::fieldStringCtrl.field.Name}}
    </label>

    <input
        data-ng-if="::!fieldStringCtrl.date"
        class="form-control"
        data-ng-model="fieldStringCtrl.value"
        data-ng-blur="fieldStringCtrl.sanitize()"
        data-ng-change="fieldStringCtrl.onChange(fieldStringCtrl.value)"
        id="{{::fieldStringCtrl.field.Key}}"
        name="{{::fieldStringCtrl.field.Key}}"
        maxlength="{{::fieldStringCtrl.stringType.maxLength}}"
        type="text" />

    <input
        data-ng-if="::fieldStringCtrl.date"
        class="form-control"
        data-ng-model="fieldStringCtrl.dateTime"
        data-ng-blur="fieldStringCtrl.sanitize()"
        data-ng-change="fieldStringCtrl.onDateChange(fieldStringCtrl.dateTime)"
        id="{{::fieldStringCtrl.field.Key}}"
        name="{{::fieldStringCtrl.field.Key}}"
        type="date"
        value="{{fieldStringCtrl.dateTime}}"
     />


    <p class="form-control-error" role="alert" data-ng-class="{'has-error' : fieldStringCtrl.invalid}">
        {{fieldStringCtrl.errorMessage}}
    </p>
</div>
